.vscode/
.idea/
*.iml
**/.gradle/
**/build/
**/.cache/
**/.gradle-user-home/
**/.idea/
**/.kotlin/
android/local.properties
server/drivers/*.o
server/drivers/*.ko
server/drivers/*.mod
server/drivers/*.mod.c
server/drivers/.*.cmd
server/drivers/Module.symvers
server/drivers/modules.order
server/go/main
server/go/main_new
server/go/itmo-ingest
server/go/itmo-ingest.exe
server/go/.integration-quotes.log
